.root {
  min-height: calc(100vh - 50px);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.admin {
  display: flex;
  padding: 50px 0;
}

.leftSide {
  width: 150px;
}

.rightSide {
  flex: 1;
  margin-left: 50px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    border-right: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    flex: 0 0 35%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
  }

  div:first-child {
    flex: 0 0 20%;
  }

  div:last-child {
    border-right: none;
    flex: 0 0 10%;
  }
}

.titles {
  display: flex;
  align-items: center;
  font-weight: 600;

  div {
    border-right: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    flex: 0 0 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

  div:last-child {
    border-right: none;
    flex: 0 0 10%;
  }

  div:nth-child(2) {
    flex: 0 0 40%;
  }
  div:nth-child(4) {
    flex: 0 0 15%;
  }
}

.order {
  display: flex;
  div {
    border-right: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
    flex: 0 0 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
  }
  div:nth-child(2) {
    flex: 0 0 40%;
  }
  div:nth-child(4) {
    flex: 0 0 15%;
  }
  div:first-child {
    overflow: hidden;
  }
  div:last-child {
    border-right: none;
    flex: 0 0 10%;
  }
}

.orderItemsImages {
  display: flex;
  align-items: center;
}
.orderItemsImg {
  width: 60px;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  border-radius: 5px;
}

.more {
  font-size: 1rem;
  margin-left: 10px;
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
}

.sneakersItem {
  padding: 10px;
  width: 174px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(4n) {
    border-right: none;
  }

  h5 {
    font-size: 1rem;
    font-weight: 300;
  }

  figure {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.rightSide {
  margin-left: 50px;
  h1 {
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--divider);
  }
}

.statsArea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__item {
    box-shadow: 0 0 20px -5px var(--primary);
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 50%;
    margin-right: 30px;
    margin-bottom: 30px;

    h2 {
      font-size: 1.7rem;
      margin-bottom: 10px;
      color: var(--primary);
    }
    p {
      font-size: 0.9rem;
    }
  }
}
