.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.img {
  flex: 0 0 23%;

  width: 200px;
  height: 140px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titles {
  flex: 0 0 23%;
  max-width: 200px;
  .title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.05rem;
  }
  .model {
    color: var(--textSecondary);
  }
}

.prices {
  flex: 0 0 23%;

  max-width: 200px;
  .price {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .delivery {
    color: var(--textSecondary);
  }
}

.sizequant {
  flex: 0 0 23%;

  span {
    font-size: 1.1rem;
  }
  .size {
    margin-bottom: 10px;
  }
  .quantity {
  }
}

.delete {
  align-self: flex-start;
}
