.size {
  position: relative;
  cursor: pointer;
  min-width: 79px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1.5px solid var(--divider);
  margin-right: 15px;
  margin-bottom: 10px;

  &:hover {
    border-color: var(--textSecondary);
  }

  .sizeSize {
    margin-bottom: 5px;
  }
  .sizePrice {
    color: var(--textSecondary);
  }
}

.sizeActive {
  border-color: var(--textPrimary);
}
.inCart {
  border-color: var(--secondary) !important;
  background-color: var(--secondary);
  .sizeSize {
    color: var(--textOpposite);
  }
  .sizePrice {
    color: var(--textOpposite);
  }
  svg {
    color: var(--textOpposite) !important;
  }
}

.icon {
  position: absolute;
  top: 2px;
  right: 2px;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(20deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  15% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0);
  }
}
